### Import

In [16]:
import pandas as pd
import hauer

In [20]:
pd.set_option('display.max_colwidth', None)
pd.reset_option('display.float_format')

### Naïve BA

In [23]:
# Numerical Example 7.2. Differing ratios of duration (pg 78)
# Dataset
df = pd.DataFrame()
df['treatment_before_duration'] = [3,3,2,2,1]
df['treatment_after_duration'] = [1,1,1,1,1]
df['treatment_before_count'] = [31,23,7,8,5]
df['treatment_after_count'] = [7,4,1,5,7]

# Run
df_modified, result = hauer.NaiveBeforeAfter(df)

result

C:\Users\thiag\OneDrive\Documents\Repositórios (Local)\hauer-before-after\hauer.py:240: RuntimeWarning: invalid value encountered in scalar power
  std_teta_vte = var_teta_vte**0.5

               NAive BA
lambda        24.000000
var_lambda    24.000000
std_lambda     4.898979
pi            30.500000
var_pi        14.750000
std_pi         3.840573
delta          6.500000
delta_norm     1.300000
var_delta     38.750000
std_delta      6.224950
teta           0.774603
var_teta       0.033445
std_teta       0.182880
s2_teta        0.156108
avg_V          0.166789
var_teta_vte  -0.010681
std_teta_vte        NaN

### Comparison Group BA

In [25]:
# Numerical Example 9.3. R.I.D.E. with comparison groups.
df_t= pd.DataFrame()
df_t['treatment_before_duration'] = [1]
df_t['treatment_after_duration'] = [1]
df_t['treatment_before_count'] = [173]
df_t['treatment_after_count'] = [144]

df_cg = pd.DataFrame()
df_cg['comparison_group_before_duration'] = [1]
df_cg['comparison_group_after_duration'] = [1]
df_cg['comparison_group_before_count'] = [897]
df_cg['comparison_group_after_count'] = [870]

df_t_modified, df_cg_modified, result = hauer.ComparisonGroupBeforeAfter(df_t,df_cg,var_w_par=0.0055)

result

                   CG BA
K             173.000000
L             144.000000
M             897.000000
N             870.000000
rt              0.968820
var_rt/rt2      0.007764
var_w           0.005500
lambda        144.000000
var_lambda    144.000000
std_lambda     12.000000
pi            167.605791
var_pi        380.490835
std_pi         19.506174
delta          23.605791
delta_norm     23.605791
var_delta     524.490835
std_delta      22.901765
teta            0.847677
var_teta        0.014332
std_teta        0.119715
s2_teta              NaN
avg_V           0.008615
var_teta_vte         NaN
std_teta_vte         NaN

### Comparison Methods

In [35]:
# Numerical Example 9.3. R.I.D.E. with comparison groups.
# Naive BA
df = pd.DataFrame()
df['treatment_before_duration'] = [1]
df['treatment_after_duration'] = [1]
df['treatment_before_count'] = [173]
df['treatment_after_count'] = [144]
_, result_Naive_BA = hauer.NaiveBeforeAfter(df)

# CG BA
df_t= pd.DataFrame()
df_t['treatment_before_duration'] = [1]
df_t['treatment_after_duration'] = [1]
df_t['treatment_before_count'] = [173]
df_t['treatment_after_count'] = [144]
df_cg = pd.DataFrame()
df_cg['comparison_group_before_duration'] = [1]
df_cg['comparison_group_after_duration'] = [1]
df_cg['comparison_group_before_count'] = [897]
df_cg['comparison_group_after_count'] = [870]
_,_, result_CG_BA = hauer.ComparisonGroupBeforeAfter(df_t,df_cg,var_w_par=0.0055)

result = pd.concat([result_Naive_BA.T,result_CG_BA.T],ignore_index=True).T
result.columns = ["Naive BA","CG BA"]
result

                Naive BA       CG BA
lambda        144.000000  144.000000
var_lambda    144.000000  144.000000
std_lambda     12.000000   12.000000
pi            173.000000  167.605791
var_pi        173.000000  380.490835
std_pi         13.152946   19.506174
delta          29.000000   23.605791
delta_norm     29.000000   23.605791
var_delta     317.000000  524.490835
std_delta      17.804494   22.901765
teta            0.827586    0.847677
var_teta        0.008615    0.014332
std_teta        0.092819    0.119715
s2_teta              NaN         NaN
avg_V           0.008615    0.008615
var_teta_vte         NaN         NaN
std_teta_vte         NaN         NaN
K                    NaN  173.000000
L                    NaN  144.000000
M                    NaN  897.000000
N                    NaN  870.000000
rt                   NaN    0.968820
var_rt/rt2           NaN    0.007764
var_w                NaN    0.005500

### Class Examples

In [39]:
"""
Coelho et al, 2008
https://www.sinaldetransito.com.br/artigos/semaforos_x_acidentes.pdf
"""
df = pd.DataFrame()
df["Semáforo"] = [470,472,473,476,477,478,479,480,481,482,483,484,485,486,487,488]
df["Período Antes"] = [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
df["Sinistros Antes"] = [20, 15, 1, 13, 8, 11, 5, 12, 8, 6, 3, 1, 10, 10, 11, 2]
df["Período Depois"] = [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
df["Sinistros Depois"] = [16, 8, 1, 11, 16, 33, 10, 10, 17, 15, 13, 7, 11, 6, 20, 3]

_, result = hauer.NaiveBeforeAfter(df,'Período Antes','Período Depois','Sinistros Antes','Sinistros Depois')

result

                NAive BA
lambda        197.000000
var_lambda    197.000000
std_lambda     14.035669
pi            136.000000
var_pi        136.000000
std_pi         11.661904
delta         -61.000000
delta_norm     -1.906250
var_delta     333.000000
std_delta      18.248288
teta            1.437956
var_teta        0.025326
std_teta        0.159142
s2_teta         0.953762
avg_V           0.649425
var_teta_vte    0.304338
std_teta_vte    0.551668